.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:  10px;
    background-color: #ecd892;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 1.5rem;
    gap: 20px;
}

.form__element {
    outline: none;
    padding: 5px 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #f0b23f;
    font-size: 1.5rem;
    font-family: 'Permanent Marker', sans-serif;
}

.form__element--button {
    cursor: pointer;

    &:hover {
        background-color: #ecd892;
    }
    &:disabled{
        background-color: gray;
    }
}

.alert{
    background-color: red;
    color: white;
}