<div class="container justify-content-center d-flex">
    <nav class="nav">
        <a class="button"
           routerLink="/animals">
           Cats & Dogs
        </a> |
        <a class="button"
           routerLink="/music">
           Songs
        </a>
      </nav>
</div>
<div class="conatiner">
    <div class="row justify-content-center">
        <div class="col-6 wrapper">
            <h1 class="hedding">Cats, Dogs & A song list</h1>
            <p>You ask why?</p>
            <img src="https://media.tenor.com/1Qah7X4zx3oAAAAi/neon-cat-rainbow.gif" alt="nyan cat">
            <p>Why not?!</p>
        </div>
    </div>
</div>